.annonces {
    margin-top: 20px;
}
.annonce {
    height: 200px;
    width: 60%;
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    padding: 10px;
}
.annonceHeader {
    position: relative;
}
.annoncePrix {
    display: inline-block;
    position: absolute;
    right: 0;
}
.annonceTitre {
    display: inline-block;
	top: 5%;
}
.annonceImage {
    display: inline-block;
    margin-right:10px;
    margin-top: 40px;
}
.annonceTexte {
    display: inline-block;
    width: 80%;
}
.div{
	height: 100%;
}



