.connexion{
	text-align: center;
	margin-top : 220px;
}
.connexion input{
	width:100px;
	height:20px;
	margin:10px;
}
.connexion label{
	display:inline-block;
	width:200px;
	padding:10px 0px 15px 40px;
}
