/* zone d'inscription */
.inscription {
text-align: center;
padding: 30px;
margin: 20px 0px;
}

.inscription input{
width: 200px;
height:20px;
}

.inscription label{
display: inline-block;
width: 150px;
float: center;
padding: 10px;
}

input[type="submit"]{
  margin: 18px;
  height: 33px;
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
