body {
	padding: 20px;
	font-family: 'open Sans', sans-serif;
}
/* header*/
header{
	display: inline-block;
}
h2{
	position: absolute;
	top:10%;
	left:40%;
}
.menu{
	position: absolute;
	left: 60%;
	top: 5%;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: black;
  color: white;
}
