body {
	padding: 20px;
	font-family: 'open Sans', sans-serif;
}
/* header*/
header{
	display: inline-block;
}
h2{
	position: absolute;
	top:10%;
	left:40%;
}
.menu{
	position: absolute;
	left: 60%;
	top: 5%;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: black;
  color: white;
}
/* fin header */

/*Zone Annonce page d'accueil */

.annonces {
  margin-top: 20px;
}
.annonce {
  height: 200px;
  width: 60%;
  margin-top: 20px;
  border: solid;
  border-width: 1px;
  padding: 10px;
}
.annonceHeader {
  position: relative;
}
.annoncePrix {
  display: inline-block;
  position: absolute;
  right: 0;
}
.annonceTitre {
  display: inline-block;
	top: 5%;
}
.annonceImage {
  display: inline-block;
  margin-right:10px;
  margin-top: 40px;
}
.annonceTexte {
  display: inline-block;
  width: 80%;
}
.div{
	height: 100%;
}

/* zone de connexion page de connexion */
.connexion{
	text-align: center;
	margin-top : 220px;
}
.connexion input{
	width:100px;
	height:20px;
	margin:10px;
}
.connexion label{
	display:inline-block;
	width:200px;
	padding:10px 0px 15px 40px;
}

/* zone d'inscription */
.inscription {
  text-align: center;
  padding: 30px;
  margin: 20px 0px;
}

.inscription input{
  width: 200px;
  height:20px;
}

.inscription label{
  display: inline-block;
  width: 150px;
  padding: 10px;
}

input[type="submit"]{
  margin: 18px;
  height: 33px;
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
/* tableau mes annonces */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
.titreTableauAnnonces {
  text-align: center;
}
